<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <title>Client Information</title>

    <style>
        h1 { 
            font-family: 'Quicksand', sans-serif;
            text-align: center;
        }
        table {
            font-family: 'Quicksand', sans-serif;
            margin: 25px auto;
            width: 85%;
            border-collapse: collapse;
            border: 1px solid #eee;
            border-radius: 5px;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);
        }
        tr:hover td {
            background: #34495e;
            color: #FFFFFF;
        }
        th {
            color: #34495e;
            border: 1px solid #eee;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding: 12px 35px;
            border-collapse: collapse;
        }
        td {font-family: 'Open Sans', sans-serif;
            width: 50%;
            color: #34495e;
            border: 1px solid #eee;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding: 12px 35px;
            border-collapse: collapse;
        }
        td#contact {font-family: 'Open Sans', sans-serif;
            width: 25%;
            color: #34495e;
            border: 1px solid #eee;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding: 12px 35px;
            border-collapse: collapse;
        }
        th#contactHeader {
            font-family: 'Quicksand', sans-serif;
            width: 25%;
            background-color: #21c293;
            border: 1px solid #eee;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding: 12px 35px;
            border-collapse: collapse;
        }
        th#subset {
            font-family: 'Quicksand', sans-serif;
            width: 50%;
            background-color: #21c293;
            border: 1px solid #eee;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding: 12px 35px;
            border-collapse: collapse;
        }
        th {
            font-family: 'Quicksand', sans-serif;
            background: #34495e;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: #fff;
            font-size: 16px;
            letter-spacing: 2px;
        }
        .example_f {
            width: 40%;
            text-decoration: none;
            border: none;
            background: #21c293;
            color: #ffffff !important;
            font-weight: 100;
            font-family: 'Open Sans', sans-serif;
            padding: 20px;
            text-transform: uppercase;
            border-radius: 6px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            margin-top: 24px;
        }
        .example_e {
            width: 40%;
            text-decoration: none;
            border: none;
            background: #85929e;
            color: #ffffff !important;
            font-weight: 100;
            font-family: 'Arial';
            padding: 20px;
            text-transform: uppercase;
            border-radius: 6px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            margin-top: 24px;
            margin-bottom: 128px;
        }
        .example_e:hover {
            color: #404040 !important;
            font-weight: 700 !important;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 3px;
            background: none;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.3s ease 0s;
        }
    </style>
</head>
<body>
    <header>
        <h1><%= client.clnnme %></h1>
    </header>

    <table><tbody>
        <tr>
            <th colspan="2">Cabinet Program Information</th>
        </tr>
        <tr>
            <td>Preferred Colors</td>
            <td><%= program.color_pref %></td>
        </tr>
        <tr>
            <td>Preferred Styles</td>
            <td><%= program.style_pref %></td>
        </tr>
        <tr>
            <td>Preferences on Soft Close (Are they standard?)</td>
            <td><%= program.soft_close_std %></td>
        </tr>
        <tr>
            <td>Hinges Preference</td>
            <td><%= program.hinges_pref %></td>
        </tr>
        <tr>
            <td>Overlay</td>
            <td><%= program.overlay %></td>
        </tr>
        <tr>
            <td>Preferences and Sizes of Crown</td>
            <td><%= program.crown_pref %></td>
        </tr>
        <tr>
            <td>Standard Specifications for Upper Cabinets</td>
            <td><%= program.upper_cabinet_spec %></td>
        </tr>
        <tr>
            <td>Standard Specifications for Vanity Height</td>
            <td><%= program.vanity_height_spec %></td>
        </tr>
        <tr>
            <td>Preferences on Bid Types</td>
            <td><%= program.bid_type_pref %></td>
        </tr>
        <tr>
            <td>Any Areas Optioned Out?</td>
            <td><%= program.optioned_area_out %></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><%= program.notes %></td>
        </tr>
    </tbody></table>

    <!--
    <div class="button_cont" align="center"><a class="example_f" href="file:///Users/nick/Code/sage-api/client-service/add-website-here" target="_blank" rel="nofollow noopener">Submit Approval</a></div>
    <div class="button_cont" align="center"><a class="example_e" href="file:///Users/nick/Code/sage-api/client-service/add-website-here" target="_blank" rel="nofollow noopener">Save as PDF</a></div>
    -->
</body>
</html>